:root{
    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram:hsl(37, 97%, 70%);
    --insta: hsl(329, 70%, 58%);
    --YouTube: hsl(348, 87%, 31%);
    --card-bg:hsl(227, 47%, 96%);
    --top-bg:hsl(225, 100%, 98%);
    --bg:hsl(0, 0%, 100%);
    --text:hsl(228, 12%, 44%);
    --text1:hsl(230, 17%, 14%);
    --toggle:hsl(230, 22%, 74%);
}
body{
    background: var(--bg);
}
.main1{
    background: var(--top-bg);
    width: 100%;
    position: relative;
    padding-top: 40px ;
    padding-bottom: 150px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.hi{
    padding-bottom: 20px;
}
.them{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}
.main2{
    background: var(--bg);
    padding-top: 170px;
    padding-bottom: 50px;
}
.in{
    cursor: pointer;
}
.card{
    background: var(--card-bg);
    cursor: pointer;
}
.stella{
    background-color: var(--Lime-Green);
}
.facebook{
    background: var(--Facebook);
}
.witt{
    margin-top: 1em;
}
.wett{
    margin-top: 5em;
}
.twitter{
    background: var(--Twitter);
}
.insta{
    background: linear-gradient(to right,var(--Instagram),var(--insta));
}
.you{
    background: var(--YouTube);
}
.color{
    color: var(--text);
}
.white{
    color: var(--text1)
}
.yes{
    font-size: 40px;
    font-weight: bold;
}
.yes1{
    font-size: 20px;
    font-weight: bold;
}
.cap{
    font-size: 10px;
}
.cup{
    font-weight: bold;
}
.tin{
    margin-top: inherit;
    height: 6px;
    border-radius: 2px;
}
@media screen and (max-width: 600px){
    .card{
        margin-top: 2em;
    }
    .tin{
        margin-top: initial;
    }
    .them{
        height: 50vh;
        padding: 40px 25px;
        bottom: -200px;
    }
    .main11{
        padding-bottom: 10px;
    }
    .main2{
        padding-top: 750px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .pad{
        padding-top: 1em;
    }
}